#equipe {
    width: 73%;
    margin: 0 auto;
    display: flex;
}

.membre {
    width: 25%;
    float: left;
}
 .img-membre {
     width: 100%;
     height: 85%;
     object-fit: cover;
 }

 .txt-membre {
     height: 15%;
     width: 100%;
     background: linear-gradient(to top, #b3124a 50%, #646464 50%);
     background-size: 100% 200%;
     background-position: left top;
     transition:all 0.2s ease-in-out;
     color: white;
 }

 .membre:hover .txt-membre {
     background-position: left bottom;
 }

 .prenom {
     font-family: "Caviar Dreams Bold";
     font-size: 2em;
     margin-bottom: -7px;
     padding-top: 6px;
 }

.job {
    font-family: "Caviar Dreams";
}

.img-container-membre {
    position: relative;
}

.reseaux {
    position: absolute;
    top: 66%;
    right: 15%;
    left: 15%;
    text-align: center;
    display: flex;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
}

.membre:hover > .img-container-membre > .reseaux {
    visibility: visible;
    opacity: 1;
}

.membre > .img-container-membre > .reseaux {
    transition: opacity 1s;
}

.membre:hover > .img-container-membre > .img-membre {
    filter: brightness(33%);
}

.membre > .img-container-membre > .img-membre {
    transition: filter .4s;
}

.link-reseau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 40px;
    width: 40px;
    color: #b3124a;
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
}

.icon-reseau {
    margin-left: auto;
    margin-right: auto;
}

.larger-undertitle {
    font-size: 2em;
}

#equipe-fiche {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.equipe-p {
    color: rgb(100, 100, 100);
}

.teaser-txt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
